asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==3.2.8
django-crispy-forms==1.13.0
linkedin-scraper==2.9.0
lxml==4.6.3
pefile==2017.9.3
Pillow==8.3.2
pytz==2021.3
selenium==3.141.0
spark-parser==1.6.1
sqlparse==0.4.2
uncompyle6==2.11.5
unpy2exe==0.3
urllib3==1.26.6
wincertstore==0.2
xdis==3.5.5
